/* You can add global styles to this file, and also import other style files */
html {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #505355;
  color: white;
  border-radius: 20px;
  padding: 8px;
  width: 100%;
  font-family: "Work Sans", sans-serif;
  font-size: 1em;
}